body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.answer{
    color: black;
    font-size: 40px;
    background-color: white;
    max-width: 270px;
    border-radius: 5px;
    padding-right: 5px;
    overflow-x: auto;
    text-align: right;
}
.numbers{
  border: none;
  background-color: rgb(51, 51, 51);
  color: white;
  width: 60px;
  height: 60px;
  font-size: 18px;
  border-radius: 50%;
  margin-right: 6px;
  cursor: pointer;
}
.operators{
  border: none;
  background-color: rgb(254, 160, 10);
  color: white;
  width: 60px;
  height: 60px;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
}
.calculator-container{
  max-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
}
.calculator-items{
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
}
@media (max-width: 320px){
  .calculator-items{
      padding: 0px;
      border: none;
      border-radius: none;
  }
  .answer{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}